@model List<ProductViewModel>


<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@(ViewBag.ShowDeleted ? "Çöp Kutusu" : "Ürün Listesi")</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home">Anasayfa</a></li>
                        <li class="breadcrumb-item active">@(ViewBag.ShowDeleted ? "Çöp Kutusu" : "Ürün Listesi")</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="myDataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="30">Id</th>
                                        <th>Resim</th>
                                        <th>Ürün</th>
                                        <th>Fiyat</th>
                                        <th width="70">Aktif</th>
                                        <th width="70">Anasayfa</th>
                                        <th width="50">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model)
                                    {
                                        <tr>
                                            <td>@p.Id</td>
                                            <td>
                                                <img src="~/images/products/@p.ImageUrl" style="width:70px; height:70px;" />
                                            </td>
                                            <td>@p.Name</td>
                                            <td class="text-danger">@($"{p.Price:C0}")</td>
                                            <td>
                                                <form asp-area="Admin" asp-controller="Product" asp-action="UpdateIsActive" asp-route-id="@p.Id" id="formIsActive_@p.Id">
                                                    <div class="custom-control custom-switch">
                                                        <input onchange="document.getElementById('formIsActive_@p.Id').submit();"
                                                               type="checkbox" class="custom-control-input" 
                                                        @(p.IsActive ? "checked" : "")
                                                        id="isActive_@p.Id">
                                                        <label class="custom-control-label" for="isActive_@p.Id"></label>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <form asp-area="Admin" asp-controller="Product" asp-action="UpdateIsHome" asp-route-id="@p.Id" id="formIsHome_@p.Id">
                                                    <div class="custom-control custom-switch">
                                                        <input onchange="document.getElementById('formIsHome_@p.Id').submit();"
                                                               type="checkbox" class="custom-control-input"
                                                        @(p.IsHome ? "checked" : "")
                                                               id="isHome_@p.Id">
                                                        <label class="custom-control-label" for="isHome_@p.Id"></label>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@p.Id" class="btn btn-success btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                                <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}

@section Styles{
    @await Html.PartialAsync("_DataTablesStylesPartial")
}