@model Product

<link rel="stylesheet" href="~/website/css/rolldice.css" />
<div class="content">
<h1 class="display-5">Şanslısın! @Model.Name Bileti Tam Senlik</h1>
<div>
        <a asp-controller="Ticket" asp-action="Review" asp-route-id="@Model.Id"><img src="~/images/products/@Model.ImageUrl" alt="@Model.Name" /></a>
        <a asp-controller="Ticket" asp-action="Review" asp-route-id="@Model.Id"><h2 class="display-6">@Model.Name</h2></a>
    <p>@Model.Properties</p>
        <label class="fw-bolder mt-1" style="color:#1ed760;">@($"{Model.Price:C0}")</label>
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-area="" asp-controller="Cart" asp-action="AddToCart">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="quantity" value="1" />
                <button type="submit" class="log-in mt-1">Sepete Ekle</button>
            </form>
        }
</div>
</div>